{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Список продавцов</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <h1>Список продавцов</h1>
    <ul>
      {% for seller in sellers %}
        <li>
            {{ seller.first_name }} {{ seller.last_name }} — 
            {{ seller.email }} ({{ seller.get_position_display }})
        </li>
      {% endfor %}
    </ul>
    <div class="vertical-buttons">
    <a href="{% url 'add_seller' %}" class="nav-button">Добавить продавца</a>
    <a href="{% url 'index' %}" class="nav-button">На домашнюю страницу</a>
    </div>
</body>
</html>

